@import "https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap";

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar on desktop but keep scrolling functionality */
@media (min-width: 992px) {
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  body,
  html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}


